[user]
	name = vedantthapa
	email = thapavedant@gmail.com
[init]
	defaultBranch = main
[core]
	editor = /usr/bin/vim
[credential "https://github.com"]
	helper = 
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !gh auth git-credential
[push]
	autoSetupRemote = true
